@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
    --dark-cyan: hsl(180, 29%, 50%);
    --dark-greyish-cyan: hsl(180, 8%, 52%);
    --very-dark-greyish-cyan: hsl(180, 14%, 20%);
    --background-color: hsl(180, 52%, 96%);
    --filter-tablet-color: hsl(180, 31%, 95%);
}

html {
    font-size: 15px;
}

* {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}

body {
    background-color: var(--background-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

header {
    width: 100%;
    height: 20vh;
    background: url(../images/bg-header-desktop.svg);
    background-position: center;
    background-size: cover;
    background-color: var(--dark-cyan);
}

main {
    padding: 3rem 0;
}

.row {
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.company-name {
    font-size: 1.2rem;
    color: var(--dark-cyan);
}

.job-title {
    font-size: 1.5rem;
}

.new-label,
.featured-label {
    color: #fff;
    border-radius: 40px;
    padding: 0.2em 1rem 0rem;
}

.new-label {
    background-color: var(--dark-cyan);
}

.featured-label {
    background-color: var(--very-dark-greyish-cyan);
}

.job-details-wrapper li {
    color: var(--dark-greyish-cyan);
    position: relative;
}

.job-details-wrapper li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1rem;
    top: calc((100% - 4px) / 2);
    bottom: calc((100% - 4px) / 2);
    width: 4px;
    background-color: var(--dark-greyish-cyan);
    border-radius: 50%;
}

.tech-language {
    padding: 0.5rem 2rem 0.3rem;
    font-weight: 700;
    background-color: var(--filter-tablet-color);
    color: var(--dark-cyan);
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .company-logo {
        position: absolute;
        left: 2rem;
        top: -3rem;
    }

    .job-details-wrapper {
        border-bottom: 1px solid var(--dark-greyish-cyan);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .header-wrapper {
        margin-top: 2.5rem;
    }
}
